services: 
  thaiduongco-hrm:
    image: giahungtechnology/ght-sync-hrm:lastest
    network_mode: host
    environment:
      - MYSQL_HOST=127.0.0.1
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=koala_online_tdc
      - MYSQL_PORT=3306
      - REDIS_HOST=127.0.0.1
      - REDIS_PORT=6379
      - THAIDUONG_HRM_URL=https://hronline.thaiduongco.com/webhooks/v2box?owner=HRONLINE&hash=84f386bacaa5a69c08c32d5870c3cd28
      - FACEID_URL=http://127.0.0.1
      - APP_ID=infiwk322l2nknfdsnfjksd23
    # Note: ports mapping not needed with host network mode
    # Service will use host network directly
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://127.0.0.1:5609/ > /dev/null || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 40s